.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.App-header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.robot-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  min-height: 80vh;
}
.New {
  width: 100%;
  /* border: 1px solid black; */
  height: 100vh;
}

.controls {
  margin-top: 20px;
}

.controls div {
  margin-bottom: 10px;
}

.controls button {
  margin: 0 5px;
}

.App-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.camera-view {
  width: 100%;
}

.robot-view {
  width: 100%;
}

.controls {
  margin-top: 20px;
}

.controls div {
  margin-bottom: 10px;
}

button {
  margin: 0 5px;
  padding: 5px 10px;
}
